<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddona.l2011service">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.ddona.receiver.DEMO_RECEIVER"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.L2011Service">
        <activity
            android:name=".ProviderActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.ddona.receiver.DEMO_RECEIVER" />

        <receiver
            android:name=".receiver.SecondReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.ddona.receiver.DEMO_RECEIVER">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>